<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result</title>
    <meta name="description" content="None" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../public/adminDashboard.css" />

    <meta name="theme-color" content="#2F3BA2" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 py-2 bg-dark">
            <ul class="nav flex-column bg-dark">
                <section class="bg-light">
                    <!-- Page Content -->
                    <!-- /.container -->
                </section>
                <div class="container"></div>
                <h5 id="imv09o" class="text-center text-white" style="margin-left: 3%">
                    Caspian Valley College
                    <small>Kumaripati, Lalitpur</small>
                    <img src="/SMS/public/logo.png" alt="" style="height: 120px; width: 160px" />
                </h5>
                <h5 id="imv09o" class="text-center text-warning">
                    Sunday - 4th April, 2021 
                    <div draggable="true" id="ixaia">आइतबार - २७ चैत्र, २०७७</div>
                    <div draggable="true"> </div>
                </h5>
                <li class="nav-item">
                    <a href="adminDashboard.html" class="nav-link text-light active bg-dark"><i class="far fa-home"
                            style="font-size: 110%"></i>&nbsp;
                        Dashboard</a>
                </li>
                <a href="adminStudent.html" class="nav-link text-light btn-dark"><i
                        class="far fa-users-class"></i>&nbsp;
                    Students</a>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-dark border-0"><i class="far fa-people-carry"
                            style="font-size: 110%"></i>&nbsp;
                        Staffs</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="adminStaffs.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-clipboard-user" style="font-size: 150%"></i>&nbsp; Staff</a>
                        <a href="adminStaffSalary.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-money-check-edit-alt"></i>&nbsp; Staff
                            Salary</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-dark border-0"><i
                            class="far fa-school"></i>&nbsp;
                        Teachers</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="adminTeacher.html" class="dropdown-item text-white bg-dark"><i
                                class="fas fa-chalkboard-teacher"></i>&nbsp; Teachers</a>
                        <a href="adminTeacherSalary.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-money-check-edit-alt"></i>&nbsp; Teachers
                            Salary</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="adminInbox.html" class="nav-link btn-dark"><i class="far fa-inbox"
                            style="font-size: 120%"></i>&nbsp;
                        Inbox</a>
                </li>
                <li class="nav-item">
                    <a href="adminNotice.html" class="nav-link text-light btn-dark"><i
                            class="fas fa-chalkboard"></i>&nbsp; News
                        Board</a>
                    <a href="adminEvents.html" class="nav-link text-light btn-dark"><i class="far fa-calendar-week"
                            style="font-size: 125%"></i>&nbsp; Upcoming Events</a>
                    <a href="adminTransportation.html" class="nav-link text-light btn-dark"><i class="far fa-bus"
                            style="font-size: 120%"></i>&nbsp;
                        Transportation</a>
                    <a href="adminAttendence.html" class="nav-link text-light btn-dark">
                        <i class="far fa-calendar-alt" style="font-size: 125%"></i>&nbsp;
                        Attendence</a>
                    <a href="adminClasses.html" class="nav-link text-light btn-dark"><i
                            class="far fa-chalkboard"></i>&nbsp;
                        Classes</a>
                    <a href="adminRoutine.html" class="nav-link text-light btn-dark"><i class="far fa-list"></i>&nbsp;
                        Routine</a>
                    <a href="adminStdLeave.html" class="nav-link text-light btn-dark"><i class="far fa-user-injured"
                            style="font-size: 120%"></i>&nbsp;
                        Student's Leave Notice</a>
                    <a href="adminStudentFee.html" class="nav-link text-light btn-dark"><i
                            class="far fa-money-check-edit-alt"></i>&nbsp; Student's
                        Fee</a>
                    <a href="adminstudymt.html" class="nav-link text-light btn-dark"><i class="far fa-books"
                            style="font-size: 120%;"></i>&nbsp; Study Material</a>
                    <a href="adminSMS.html" class="nav-link text-light btn-dark"><i class="far fa-sms"
                            style="font-size: 135%"></i>&nbsp; SMS/Mail</a>
                    <a href="adminAssignment.html" class="nav-link text-light btn-dark"><i class="far fa-book"
                            style="font-size: 130%"></i>&nbsp;
                        Assignments</a>
                    <a href="admingallery.html" class="nav-link text-light btn-dark"><i class="fas fa-images"
                            style="font-size: 115%"></i>&nbsp;
                        Gallery</a>
                </li>

                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-dark border-0"><i class="far fa-tools"
                            style="font-size: 110%"></i>&nbsp; Admin
                        Tools</a>
                    <div class="dropdown-menu bg-dark text-light">
                        <a href="adminNew.html" class="dropdown-item text-light bg-dark"><i
                                class="far fa-users-cog"></i>&nbsp;
                            Admin Settings</a><a href="adminSMSSetting.html" class="dropdown-item text-light bg-dark"><i
                                class="far fa-sliders-v-square"></i>&nbsp; SMS Settings</a><a href="adminSettings.html"
                            class="dropdown-item text-light bg-dark"><i class="far fa-cog"></i>&nbsp; Settings</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item text-light bg-dark"><i class="far fa-sign-out-alt"></i>&nbsp;
                            Logout</a>
                    </div>
                </li>
                <li class="nav-item"></li>
            </ul>
        </div>

        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-12 py-3">

            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 py-2">
                  <h2 style="font-size: 2.5em;">Result</h2>
                </div>
                <div class="d-flex justify-content-end col-xl-8">
                    <div class=" p-3" style="margin-right: -5%;"> <button type="button" class="btn btn-outline-danger mr-3"><i
                          class="far fa-bell"></i> &nbsp;Notifications</button>
                    </div>
                    <div class=" p-3"> <button type="button" class="btn btn-outline-danger "><i
                          class="far fa-sign-out-alt"></i>&nbsp; Logout</button>
                    </div>
                  </div>
              </div>

                <div class="border card-body">
                    <h4>
                        <div id="i7r4de"></div>
                        Add Result
                    </h4>
                    <hr />


                    <div class="align-items-center">
                        <label class="col-3">Class*</label>
                        <div class="col">
                            <select required class="form-control">
                                <option>None</option>
                                <option>11 Science</option>
                                <option>12 Science</option>
                                <option>11 Management</option>
                                <option>12 Management</option>
                                <option>11 Humanities</option>
                                <option>12 Humanities</option>
                                <option>Hotel Management</option>
                            </select>
                        </div>
                    </div>
                    <div class="align-items-center">
                        <label class="col-3">Section*</label>
                        <div class="col">
                            <select required class="form-control">
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                            </select>
                        </div>
                    </div>




                    <div class="">
                        <label class="col-3">Result</label>
                        <div class="col">
                            <div class="custom-file">
                                <input type="file" id="validatedCustomFile" required class="custom-file-input" /><label
                                    for="validatedCustomFile" class="custom-file-label">Choose file...</label>
                                <div class="invalid-feedback">
                                    Example invalid custom file feedback
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary mr-5">
                      <b id="inob58">Add Result</b></button>
                  </div>

            </div>
        </div>
    </div>
    <!--Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("./sw.js").then(function () {
                console.log("Service Worker Registered");
            });
        }
    </script>
    <script src="../public/signin.js"></script>
    <script>
        function bus() {
            console.log("hello");
            let bus = document.getElementById("busornot").value;
            if (bus == "Choose") {
                let busroute = document
                    .getElementById("bus-route")
                    .setAttribute("style", "visibility:visible ; height:50px");
            } else {
                let busroute = document
                    .getElementById("bus-route")
                    .setAttribute("style", "visibility:hidden; height:0px");
            }
        }
    </script>
</body>

</html>