<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <meta name="description" content="None">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/adminDashboard.css">


    <meta name="theme-color" content="#2F3BA2">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 py-2 bg-dark">
            <ul class="nav flex-column bg-dark">
                <section class="bg-light">
                    <!-- Page Content -->
                    <!-- /.container -->
                </section>
                <div class="container"></div>
                <h5 id="imv09o" class="text-center text-white" style="margin-left: 3%;">
                    Caspian Valley College
                    <small>Kumaripati, Lalitpur</small>
                    <img src="/public/logo.png" alt="" style="height: 120px; width: 160px;">
                </h5>
                <h5 id="imv09o" class="text-center text-warning">
                    Sunday - 4th April, 2021 
                    <div draggable="true" id="ixaia">आइतबार - २७ चैत्र, २०७७</div>
                    <div draggable="true"> </div>
                </h5>
                <li class="nav-item"><a href="adminDashboard.html" class="nav-link text-light active bg-success"><i
                            class="far fa-home" style="font-size: 110%;"></i>&nbsp; Dashboard</a></li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-dark border-0"><i class="far fa-people-carry"
                            style="font-size: 110%;"></i>&nbsp; Staffs</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="adminStaffs.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-clipboard-user" style="font-size: 140%;"></i>&nbsp; Staff</a>
                        <a href="adminStaffSalary.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-money-check-edit-alt"></i>&nbsp; Staff Salary</a>
                        <a href="adminstaffleave.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-user-injured" style="font-size: 120%;"></i>&nbsp; Leave Notice</a>
                        <a href="adminstaffattendance.html" class="dropdown-item text-white bg-dark"> <i
                                class="far fa-calendar-alt" style="font-size: 125%;"></i>&nbsp; Attendance</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-dark border-0"><i class="far fa-school"
                            style="font-size: 108%"></i>&nbsp; Teachers</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="adminTeacher.html" class="dropdown-item text-white bg-dark"><i
                                class="fas fa-chalkboard-teacher"></i>&nbsp; Teachers</a>
                        <a href="adminTeacherSalary.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-money-check-edit-alt"></i>&nbsp; Salary</a>
                        <a href="adminteacherleavenotice.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-user-injured" style="font-size: 120%;"></i>&nbsp; Leave Notice</a>
                        <a href="adminteachattendance.html" class="dropdown-item text-white bg-dark"> <i
                                class="far fa-calendar-alt" style="font-size: 125%;"></i>&nbsp; Attendance</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-dark border-0"><i class="far fa-graduation-cap"
                            style="font-size: 125%;"></i>&nbsp; Student</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="adminStudent.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-users-class"></i>&nbsp; Students</a>
                        <a href="adminStudentFee.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-money-check-edit-alt"></i>&nbsp; Student's Fee</a>
                        <a href="adminStdLeave.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-user-injured" style="font-size: 120%;"></i>&nbsp; Leave Notice</a>
                        <a href="adminAttendence.html" class="dropdown-item text-white bg-dark"> <i
                                class="far fa-calendar-alt" style="font-size: 125%;"></i>&nbsp; Attendance</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-dark border-0"><i class="far fa-book-reader" style="font-size: 130%;"></i>&nbsp; Materials</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="adminstudymt.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-books"></i>&nbsp; Study Materials</a>
                        <a href="adminAssignment.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-book"></i>&nbsp; Assignments</a>
                        <a href="admincheckassignment.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-check" style="font-size: 120%;"></i>&nbsp; Check Assignments</a>
                    </div>
                </li>
                <li class="nav-item"><a href="adminInbox.html" class="nav-link btn-dark"><i class="far fa-inbox"
                            style="font-size: 120%;"></i>&nbsp; Inbox</a></li>
                <li class="nav-item"><a href="adminNotice.html" class="nav-link text-light btn-dark"><i
                            class="fas fa-chalkboard"></i>&nbsp; News Board</a>
                    <a href="adminEvents.html" class="nav-link text-light btn-dark"><i class="far fa-calendar-week"
                            style="font-size: 125%;"></i>&nbsp; Upcoming Events</a>
                    <a href="adminTransportation.html" class="nav-link text-light btn-dark"><i class="far fa-bus"
                            style="font-size: 120%;"></i>&nbsp; Transportation</a>

                    <a href="adminClasses.html" class="nav-link text-light btn-dark"><i
                            class="far fa-chalkboard"></i>&nbsp;
                        Classes</a>
                    <a href="adminonlineclass.html" class="nav-link text-light btn-dark"><i class="far fa-video"
                            style="font-size: 115%"></i>&nbsp; Online Class</a>
                            <a href="adminsubjects.html" class="nav-link text-light btn-dark"><i class="fas fa-books" style="font-size: 120%"></i>&nbsp; Subjects</a>
                    <a href="adminRoutine.html" class="nav-link text-light btn-dark"><i class="far fa-list"></i>&nbsp;
                        Routine</a>
                    <a href="adminresult.html" class="nav-link text-light btn-dark"><i class="far fa-file-spreadsheet"
                            style="font-size: 130%"></i>&nbsp;
                        Result</a>
                    <a href="adminSMS.html" class="nav-link text-light btn-dark"><i class="far fa-sms"
                            style="font-size: 135%;"></i>&nbsp; SMS/Mail</a>
                    <a href="admingallery.html" class="nav-link text-light btn-dark"><i class="fas fa-images"
                            style="font-size: 115%;"></i>&nbsp; Gallery</a>
                <li class="nav-item dropdown"><a data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false" class="nav-link dropdown-toggle text-light btn-dark border-0"><i
                            class="far fa-tools" style="font-size: 110%;"></i>&nbsp; Admin
                        Tools</a>
                    <div class="dropdown-menu bg-dark text-light"><a href="adminNew.html"
                            class="dropdown-item text-light bg-dark"><i class="far fa-users-cog"></i>&nbsp; Admin
                            Settings</a><a href="adminSMSSetting.html" class="dropdown-item text-light bg-dark"><i
                                class="far fa-sliders-v-square"></i>&nbsp; SMS Settings</a><a href="adminSettings.html"
                            class="dropdown-item text-light  bg-dark"><i class="far fa-cog"></i>&nbsp;
                            Settings</a>
                            <a href="adminschldays.html"
                            class="dropdown-item text-light  bg-dark"><i class="far fa-school"></i>&nbsp;
                            School Days</a>
                            <a href="adminupdate.html" class="dropdown-item text-light  bg-dark"><i
                                class="far fa-database"></i>&nbsp;
                            Backup and Update</a>
                        <div class="dropdown-divider "></div><a href="#" class="dropdown-item text-light bg-dark"><i
                                class="far fa-sign-out-alt"></i>&nbsp; Logout</a>
                    </div>
                </li>
                <li class="nav-item"></li>
            </ul>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-12">
    
            <div class="row bg-primary text-white" style="margin-right: -4%;">
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12 py-3">
                    <h4 id="i54x4f" style="font-size:  2.5em;">
                        Caspian Valley S.S.
                    </h4>
                </div>
                <div class=" p-4" style="margin-right: -4%;"> <button type="button"
                        class="btn btn-outline-light mr-3"><i class="far fa-bell"></i> &nbsp;Notifications</button>
                </div>
                <div class=" p-4"> <button type="button" class="btn btn-outline-light mr-3"><i
                            class="far fa-sign-out-alt"></i>&nbsp; Logout</button>
                </div>
            </div>
            <div class="row text-white text-center py-3">
                <div class="col-md-3 mb-2 mb-md-4">
                    <div class="rounded py-2 bg-danger">
                        <i class="fas fa-user-graduate" style="font-size: 220%;"></i>
                        <h2 class="mb-0"> 1555</h2>
                        <p class="lead mb-0">Students</p>
                    </div>
                </div>
                <div class="col-md-3 mb-2 mb-md-4">
                    <div class="rounded py-2 bg-success">
                        <i class="fas fa-graduation-cap" style="font-size: 250%;"></i>
                        <h2 class="mb-0">81</h2>
                        <p class="lead mb-0">Teachers</p>
                    </div>
                </div>
                <div class="col-md-3 mb-2 mb-md-4">
                    <div class="rounded py-2 bg-primary">
                        <i class="fas fa-chalkboard-teacher" style="font-size: 230%;"></i>
                        <h2 class="mb-0">2</h2>
                        <p class="lead mb-0">Teachers on Leave Today</p>
                    </div>
                </div>
                <div class="col-md-3 mb-4 mb-md-4">
                    <div class="rounded py-2 bg-warning">
                        <i class="fas fa-user-hard-hat" style="font-size: 240%;"></i>
                        <h2 class="mb-0">2</h2>
                        <p class="lead mb-0">Staffs</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" style="margin-top: -1%;">
                    <div style=" padding-left: 2%; padding-right: 2%;" class="bg-light rounded py-2">
                        <h4 class="border-bottom border-gray pb-2 mb-0 ">Quick Links</h4>
                        <div class="row text-white text-center py-3">
                            <div class="col-md-6 mb-2 mb-md-4 ">
                                <a href="adminstudymt.html" class="btn nav-link text-light btn-success"><i
                                        class="far fa-books" style="font-size: 120%;"></i>&nbsp; Study Material</a>
                            </div>
                            <div class="col-md-6 mb-2 mb-md-4 ">
                                <a href="adminNotice.html" class="btn nav-link text-light btn-success"><i
                                        class="far fa-newspaper" style="font-size: 125%;"></i>&nbsp; Newsboard</a>
                            </div>
                            <div class="col-md-6 mb-2 mb-md-4">
                                <a href="adminAttendence.html" class="btn nav-link text-light btn-success"> <i
                                        class="far fa-calendar-alt" style="font-size: 125%;"></i>&nbsp; Attendance</a>
                            </div>
                            <div class="col-md-6 mb-4 mb-md-4">
                                <a href="adminAssignment.html" class="btn nav-link  text-light btn-success"><i
                                        class="far fa-book" style="font-size: 130%;"></i>&nbsp; Assignments</a>
                            </div>
                        </div>
                    </div>
                    <div class="my-3 p-3 bg-light rounded box-shadow">
                        <h4 class="border-bottom border-gray pb-2 mb-0 none">Notice</h4>
                        <div class="card-body">
                            <!-- Header -->
                            <div class="mb-3">
                                <div class="row align-items-center">
                                    <div class="col ml-n2">
                                        <!-- Title -->
                                        <h4 class="card-title mb-1"> Holiday Notice</h4><!-- Time -->
                                        <p class="card-text small text-muted"><span class="fe fe-clock"></span> <time
                                                datetime="2018-05-24">03/15</time></p>

                                    </div>
                                    <div class="col-auto">
                                        <!-- Dropdown -->
                                        <div class="dropdown">
                                            <div class="dropdown-menu dropdown-menu-right"><a href="#!"
                                                    class="dropdown-item">
                                                    Action </a><a href="#!" class="dropdown-item"> Another action </a><a
                                                    href="#!" class="dropdown-item"> Something else here </a></div>
                                        </div>
                                    </div>
                                </div> <!-- / .row -->
                            </div><!-- Text -->
                            <p class="mb-3"> I've been working on the latest version of prototype. I'm trying to focus
                                on is
                                something like "Different UI Variants for Portfolio sites" </p><!-- Image -->
                            <p class="text-center mb-3"></p><!-- Buttons -->
                        </div>

                        <div class="card-body" style="margin-top: -10%;">
                            <!-- Header -->
                            <div class="mb-3">
                                <div class="row align-items-center">
                                    <div class="col ml-n2">
                                        <!-- Title -->
                                        <h4 class="card-title mb-1"> Holiday Notice</h4><!-- Time -->
                                        <p class="card-text small text-muted"><span class="fe fe-clock"></span> <time
                                                datetime="2018-05-24">03/16</time></p>

                                    </div>
                                    <div class="col-auto">
                                        <!-- Dropdown -->
                                        <div class="dropdown">
                                            <div class="dropdown-menu dropdown-menu-right"><a href="#!"
                                                    class="dropdown-item">
                                                    Action </a><a href="#!" class="dropdown-item"> Another action </a><a
                                                    href="#!" class="dropdown-item"> Something else here </a></div>
                                        </div>
                                    </div>
                                </div> <!-- / .row -->
                            </div><!-- Text -->
                            <p class="mb-3"> I've been working on the latest version of prototype. I'm trying to focus
                                on is
                                something like "Different UI Variants for Portfolio sites" </p><!-- Image -->
                            <p class="text-center mb-3"></p><!-- Buttons -->
                        </div><small class="d-block text-right mt-3"><a href="adminNotice.html" id="iy8npk">Show All
                                Notice</a></small>
                    </div>
                    <div class="my-3 p-3 bg-light rounded box-shadow">
                        <h4 class="border-bottom border-gray pb-2 mb-0 none">Recent Messages</h4>
                        <div class="card-body" style="margin-bottom: -10%;">
                            <!-- Header -->
                            <div class="mb-3">
                                <div class="row align-items-center">
                                    <div class="col ml-n2" style="margin-top: -4%; margin-bottom: -4%;">
                                        <!-- Title -->
                                        <p class="card-text small text-muted "><span class="fe fe-clock"></span> <time
                                                datetime="2018-05-24">03/19</time></p>
                                        <p class="card-text small text-muted" style="margin-top: -5%;"><span
                                                class="fe fe-clock"></span>yourname@gmail.com</time></p>
                                    </div>
                                    <div class="col-auto">
                                        <!-- Dropdown -->
                                        <div class="dropdown">
                                            <div class="dropdown-menu dropdown-menu-right"><a href="#!"
                                                    class="dropdown-item">
                                                    Action </a><a href="#!" class="dropdown-item"> Another action </a><a
                                                    href="#!" class="dropdown-item"> Something else here </a></div>
                                        </div>
                                    </div>
                                </div> <!-- / .row -->
                            </div><!-- Text -->

                            <p class="mb-3"> I've been working on the latest version of prototype. I'm trying to focus
                                on is
                                something like "Different UI Variants for Portfolio sites" </p><!-- Image -->
                            <div class="mb-3">
                                <div class="row align-items-center">
                                    <div class="col ml-n2" style="margin-top: -2%; margin-bottom: -4%;">
                                        <!-- Title -->
                                        <p class="card-text small text-muted "><span class="fe fe-clock"></span> <time
                                                datetime="2018-05-24">03/20</time></p>
                                        <p class="card-text small text-muted" style="margin-top: -5%;"><span
                                                class="fe fe-clock"></span>yourname@gmail.com</time></p>
                                    </div>
                                    <div class="col-auto">
                                        <!-- Dropdown -->
                                        <div class="dropdown">
                                            <div class="dropdown-menu dropdown-menu-right"><a href="#!"
                                                    class="dropdown-item">
                                                    Action </a><a href="#!" class="dropdown-item"> Another action </a><a
                                                    href="#!" class="dropdown-item"> Something else here </a></div>
                                        </div>
                                    </div>
                                </div> <!-- / .row -->
                            </div><!-- Text -->

                            <p class="mb-3"> I've been working on the latest version of prototype. I'm trying to focus
                                on is
                                something like "Different UI Variants for Portfolio sites" </p><!-- Image -->

                        </div>

                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
                    <iframe src="https://www.hamropatro.com/widgets/calender-full.php" frameborder="0" scrolling="no"
                        marginwidth="0" marginheight="0"
                        style="border:none; overflow:hidden; width:800px; height:840px;"
                        allowtransparency="true"></iframe>
                </div>
            </div>
            <h6 id="iyxztw" class="text-secondary text-right">
                <div><br /></div>All Rights Reserved, Caspian Valley SS   <div>Developed by - Niraj Kafle  
                </div>
                <div>
                    <div><br /></div>
                </div>
            </h6>
        </div>
        <!--Bootstrap Scripts-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('./sw.js')
                    .then(function () {
                        console.log('Service Worker Registered');
                    });
            }
        </script>
        <script src="../public/signin.js"></script>
    </div>
</body>

</html>