<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <meta name="description" content="None">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/adminDashboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <meta name="theme-color" content="#2F3BA2">
    <link rel="manifest" href="manifest.json">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body>
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 py-2 bg-dark">
            <ul class="nav flex-column bg-dark">
                <section class="bg-light">
                    <!-- Page Content -->
                    <!-- /.container -->
                </section>
                <div class="container"></div>
                <h5 id="imv09o" class="text-center text-white" style="margin-left: 3%;">
                    Caspian Valley College
                    <small>Kumaripati, Lalitpur</small>
                    <img src="/public/logo.png" alt="" style="height: 120px; width: 160px;">
                </h5>
                <h5 id="imv09o" class="text-center text-warning">
                    Sunday - 4th April, 2021 
                    <div draggable="true" id="ixaia">आइतबार - २७ चैत्र, २०७७</div>
                    <div draggable="true"> </div>
                </h5>
                <li class="nav-item"><a href="adminDashboard.html" class="nav-link text-light active bg-dark"><i
                            class="far fa-home" style="font-size: 110%;"></i>&nbsp; Dashboard</a></li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-dark border-0"><i class="far fa-people-carry"
                            style="font-size: 110%;"></i>&nbsp; Staffs</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="adminStaffs.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-clipboard-user" style="font-size: 140%;"></i>&nbsp; Staff</a>
                        <a href="adminStaffSalary.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-money-check-edit-alt"></i>&nbsp; Staff Salary</a>
                        <a href="adminstaffleave.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-user-injured" style="font-size: 120%;"></i>&nbsp; Leave Notice</a>
                        <a href="adminstaffattendance.html" class="dropdown-item text-white bg-dark"> <i
                                class="far fa-calendar-alt" style="font-size: 125%;"></i>&nbsp; Attendance</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-dark border-0"><i class="far fa-school"
                            style="font-size: 108%"></i>&nbsp; Teachers</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="adminTeacher.html" class="dropdown-item text-white bg-dark"><i
                                class="fas fa-chalkboard-teacher"></i>&nbsp; Teachers</a>
                        <a href="adminTeacherSalary.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-money-check-edit-alt"></i>&nbsp; Salary</a>
                        <a href="adminteacherleavenotice.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-user-injured" style="font-size: 120%;"></i>&nbsp; Leave Notice</a>
                        <a href="adminteachattendance.html" class="dropdown-item text-white bg-dark"> <i
                                class="far fa-calendar-alt" style="font-size: 125%;"></i>&nbsp; Attendance</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-dark border-0"><i class="far fa-graduation-cap"
                            style="font-size: 125%;"></i>&nbsp; Student</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="adminStudent.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-users-class"></i>&nbsp; Students</a>
                        <a href="adminStudentFee.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-money-check-edit-alt"></i>&nbsp; Student's Fee</a>
                        <a href="adminStdLeave.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-user-injured" style="font-size: 120%;"></i>&nbsp; Leave Notice</a>
                        <a href="adminAttendence.html" class="dropdown-item text-white bg-dark"> <i
                                class="far fa-calendar-alt" style="font-size: 125%;"></i>&nbsp; Attendance</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-dark border-0"><i class="far fa-book-reader"
                            style="font-size: 130%;"></i>&nbsp; Materials</a>
                    <div class="dropdown-menu bg-dark">
                        <a href="adminstudymt.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-books"></i>&nbsp; Study Materials</a>
                        <a href="adminAssignment.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-book"></i>&nbsp; Assignments</a>
                        <a href="admincheckassignment.html" class="dropdown-item text-white bg-dark"><i
                                class="far fa-check" style="font-size: 120%;"></i>&nbsp; Check Assignments</a>
                    </div>
                </li>
                <li class="nav-item"><a href="adminInbox.html" class="nav-link btn-dark"><i class="far fa-inbox"
                            style="font-size: 120%;"></i>&nbsp; Inbox</a></li>
                <li class="nav-item"><a href="adminNotice.html" class="nav-link text-light btn-dark"><i
                            class="fas fa-chalkboard"></i>&nbsp; News Board</a>
                    <a href="adminEvents.html" class="nav-link text-light btn-dark"><i class="far fa-calendar-week"
                            style="font-size: 125%;"></i>&nbsp; Upcoming Events</a>
                    <a href="adminTransportation.html" class="nav-link text-light btn-dark"><i class="far fa-bus"
                            style="font-size: 120%;"></i>&nbsp; Transportation</a>

                    <a href="adminClasses.html" class="nav-link text-light btn-dark"><i
                            class="far fa-chalkboard"></i>&nbsp;
                        Classes</a>
                    <a href="adminonlineclass.html" class="nav-link text-light btn-dark"><i class="far fa-video"
                            style="font-size: 115%"></i>&nbsp; Online Class</a>
                    <a href="adminsubjects.html" class="nav-link text-light btn-dark"><i class="fas fa-books"
                            style="font-size: 120%"></i>&nbsp; Subjects</a>
                    <a href="adminRoutine.html" class="nav-link text-light btn-dark"><i
                            class="far fa-list"></i>&nbsp;
                        Routine</a>
                    <a href="adminresult.html" class="nav-link text-light btn-dark"><i class="far fa-file-spreadsheet"
                            style="font-size: 130%"></i>&nbsp;
                        Result</a>
                    <a href="adminSMS.html" class="nav-link text-light btn-dark"><i class="far fa-sms"
                            style="font-size: 135%;"></i>&nbsp; SMS/Mail</a>
                    <a href="admingallery.html" class="nav-link text-light btn-dark"><i class="fas fa-images"
                            style="font-size: 115%;"></i>&nbsp; Gallery</a>
                <li class="nav-item dropdown"><a data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false" class="nav-link dropdown-toggle text-light btn-success border-0"><i
                            class="far fa-tools" style="font-size: 110%;"></i>&nbsp; Admin
                        Tools</a>
                    <div class="dropdown-menu bg-dark text-light"><a href="adminNew.html"
                            class="dropdown-item text-light bg-dark"><i class="far fa-users-cog"></i>&nbsp; Admin
                            Settings</a><a href="adminSMSSetting.html" class="dropdown-item text-light bg-success"><i
                                class="far fa-sliders-v-square"></i>&nbsp; SMS Settings</a><a href="adminSettings.html"
                            class="dropdown-item text-light  bg-dark"><i class="far fa-cog"></i>&nbsp;
                            Settings</a>
                        <a href="adminschldays.html" class="dropdown-item text-light  bg-dark"><i
                                class="far fa-school"></i>&nbsp;
                            School Days</a>
                        <a href="adminupdate.html" class="dropdown-item text-light  bg-dark"><i
                                class="far fa-database"></i>&nbsp;
                            Backup and Update</a>
                        <div class="dropdown-divider "></div><a href="#" class="dropdown-item text-light bg-dark"><i
                                class="far fa-sign-out-alt"></i>&nbsp; Logout</a>
                    </div>
                </li>
                <li class="nav-item"></li>
            </ul>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-12 -td-29-td-">
            
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 py-3">
          <h2 style="font-size: 2.5em;">SMS Settings</h2>
        </div>

        <div class="d-flex justify-content-end col-xl-8">
            <div class=" p-3" style="margin-right: -5%;"> <button type="button" class="btn btn-outline-danger mr-3"><i
                  class="far fa-bell"></i> &nbsp;Notifications</button>
            </div>
            <div class=" p-3"> <button type="button" class="btn btn-outline-danger "><i
                  class="far fa-sign-out-alt"></i>&nbsp; Logout</button>
            </div>
          </div>
      
      </div>
      <!--row ---->

            <div class="card-body">
                <h2 class="font-weight-light"></h2>
                <form class="mt-3">
                    <div class="form-group row align-items-center"><label class="col-3">Name*</label>
                        <div class="col"><input type="text" required placeholder="Enter Name" class="form-control" /></div>
                    </div>
                    <div class="form-group row align-items-center"><label class="col-3">Auth Token*</label>
                        <div class="col"><input type="text" required placeholder="Enter Authentication Token" class="form-control" /></div>
                    </div>
                    <div class="row justify-content-center mt-4"><button type="submit" class="btn mr-5 btn-success"><b id="ic65fy">Save Changes</b></button> </div>
                </form>
            </div>
            <p id="i0mal" class="text-right">Powered by Aakash SMS  </p>
        </div>
    </div>
    <!--Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./sw.js')
                .then(function() {
                    console.log('Service Worker Registered');
                });
        }

    </script>
    <script src="../public/signin.js"></script>
</body>

</html>
