<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <meta name="description" content="None">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <meta name="theme-color" content="#2F3BA2">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
    <!-- CONTENT
    ================================================== -->
    <div class="row">
        <div class="container col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 py-2 bg-dark" >
            <ul class="nav flex-column">
                <!-- <section class="bg-light">
                    <!-- Page Content -->
                <!-- /.container -->
                
                <div class="bg-dark shadow rounded border border-secondary" style="margin-left: 10px; margin-bottom: 5px;">
                        <div draggable="true"> </div>
                    <img src="student2.png" style="height: 150px; margin-left: 15px; margin-top: -10px;" alt="" id="inlxb" />
                    <p id="imp2m" class="text-light text-center" style="margin-bottom: 5px; font-size: large;">Niraj Kafle</p>
                    <hr class="my-4" style="color: white;">
                    <div style="margin-left: 10px; margin-bottom: 5px; margin-top:  -45px;">
                        <div class="rounded row py-2 bg-light shadow-lg text-muted text-center" style="margin-right: 8px; margin-left: 0;"><p
                                class="lead col-lg-6 mb-0" style="font-size: 1.01em; font-weight: bold;">Class</p>
                                <p class="lead col-lg-6 mb-0" style="font-size: 1.01em; font-weight: bold;">Roll</p>
                            </div>
                    </div>
                </div>
                <li class="nav-item"><a href="dashboard.html" class="nav-link text-light bg-dark"><i class="far fa-home" style="font-size: 110%;"></i>&nbsp; Dashboard</a>
                </li>
                <a href="routine.html" class="nav-link text-light btn-dark"><i class="far fa-list"></i>&nbsp; Routine</a>
                <a href="onlineclass.html" class="nav-link text-light btn-dark"><i class="far fa-video" style="font-size: 115%"></i>&nbsp;
                    Online Class</a>
                <a href="assignments.html" class="nav-link text-light btn-dark"><i class="far fa-book" style="font-size: 130%;"></i>&nbsp; Assignments</a>
                <a href="attendance.html" class="nav-link text-light btn-dark"><i class="far fa-calendar-alt" style="font-size: 125%;"></i>&nbsp; Attendance</a>
                <a href="gallery.html" class="nav-link text-light btn-dark"><i class="fas fa-images" style="font-size: 115%;"></i>&nbsp; Gallery</a>
                <li class="nav-item"><a href="newsboard.html" class="nav-link text-light btn-dark">
                        <span><i class="fas fa-chalkboard"></i>&nbsp; News/Notice
                            Board</span></a>
                    <a href="upcomingEvents.html" class="nav-link text-light btn-dark"><i class="far fa-calendar-week" style="font-size: 125%;"></i>&nbsp; Upcoming
                        Events</a><a href="teacherStaffs.html"
                        class="nav-link text-light btn-dark"><i class="fas fa-chalkboard-teacher"></i>&nbsp; Teacher/Staffs</a>
                    <a href="leaveNotice.html" class="nav-link text-light btn-dark"><i class="far fa-user-injured" style="font-size: 120%;"></i>&nbsp; Leave Notice</a>
                    <a href="fee.html" class="nav-link text-light btn-dark"><i class="far fa-money-check-edit-alt"></i>&nbsp; Fee</a>
                    <a href="studymaterial.html" class="nav-link text-light btn-dark"><i class="far fa-books"
                        style="font-size: 120%;"></i>&nbsp; Study Material</a>
                        <a href="result.html" class="nav-link text-light btn-dark"><i class="far fa-file-spreadsheet" style="font-size: 135%;"></i>&nbsp; Result</a>
                <li class="nav-item dropdown"><a data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false"
                        class="nav-link dropdown-toggle text-light btn-success border-0"><i class="far fa-sliders-v-square"  style="font-size: 125%;"></i>&nbsp; About</a>
                    <div class="dropdown-menu bg-dark"><a href="studentProfile.html"
                            class="dropdown-item text-light bg-dark"><i class="far fa-user-circle"></i>&nbsp; Profile</a><a href="contact.html"
                            class="dropdown-item bg-dark text-light"><i class="far fa-address-book"></i>&nbsp; Contact</a><a href="changePassword.html"
                            class="dropdown-item text-light bg-success"><i class="far fa-unlock-alt"></i>&nbsp; Change Password</a>
                        <div class="dropdown-divider">
                        </div><a href="#" class="dropdown-item text-light bg-dark"><i class="far fa-sign-out-alt"></i>&nbsp; Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-12">
            <div class="row bg-primary text-white" style="margin-right: -4%;">
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12 py-3">

                    <h4 id="i54x4f" style="font-size:  2.5em;">
                       Change Password
                    </h4>
                </div>
                <div class=" p-4" style="margin-right: -4%;"> <button type="button"
                        class="btn btn-outline-light mr-3"><i class="far fa-bell"></i> &nbsp;Notifications</button>
                </div>
                <div class=" p-4"> <button type="button" class="btn btn-outline-light mr-3"><i
                            class="far fa-sign-out-alt"></i>&nbsp; Logout</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-4 col-xl-4 my-5">
                    <!-- Heading -->
                    <!-- Subheading -->
                    <p class="text-muted text-center mb-5"></p><!-- Form -->
                    <form>
                        <!-- Password -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <!-- Label --><label>Current Password</label>
                                </div>
                            </div> <!-- / .row -->
                            <!-- Input group -->
                            <div class="input-group input-group-merge">
                                <!-- Input --><input type="password" placeholder="Current password"
                                    class="form-control form-control-appended" /><!-- Icon -->              
                            </div>
                        </div><!-- Password -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <!-- Label --><label>New Password</label>
                                </div>
                            </div> <!-- / .row -->
                            <!-- Input group -->
                            <div class="input-group input-group-merge">
                                <!-- Input --><input type="password" placeholder="New password"
                                    class="form-control form-control-appended" /><!-- Icon -->
                            </div>
                        </div><!-- Password -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <!-- Label --><label>Confirm Password</label>
                                </div>
                            </div> <!-- / .row -->
                            <!-- Input group -->
                            <div class="input-group input-group-merge">
                                <!-- Input --><input type="password" placeholder="Repeat Password"
                                    class="form-control form-control-appended" />
                            </div>
                        </div><!-- Submit --><button class="btn btn-lg btn-block btn-danger mb-3"> Change Password
                        </button><!-- Link -->
                    </form>
                </div>
            </div> <!-- / .row -->
        </div>
    </div>

    <!--Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./sw.js')
                .then(function () {
                    console.log('Service Worker Registered');
                });
        }
    </script>
    <script src="assets/js/app.js"></script>
</body>

</html>