<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming events</title>
    <meta name="description" content="None">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/upcomingEvents.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <div class="row">
        <div class="container col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 py-2 bg-dark">
            <ul class="nav flex-column">
                <!-- <section class="bg-light">
                    <!-- Page Content -->
                <!-- /.container -->

                <div class="bg-dark shadow rounded border border-secondary"
                    style="margin-left: 10px; margin-bottom: 5px;">
                    <div draggable="true"> </div>
                    <img src="student2.png" style="height: 150px; margin-left: 15px; margin-top: -10px;" alt=""
                        id="inlxb" />
                    <p id="imp2m" class="text-light text-center" style="margin-bottom: 5px; font-size: large;">Niraj
                        Kafle</p>
                    <hr class="my-4" style="color: white;">
                    <div style="margin-left: 10px; margin-bottom: 5px; margin-top:  -45px;">
                        <div class="rounded row py-2 bg-light shadow-lg text-muted text-center"
                            style="margin-right: 8px; margin-left: 0;">
                            <p class="lead col-lg-6 mb-0" style="font-size: 1.01em; font-weight: bold;">Class</p>
                            <p class="lead col-lg-6 mb-0" style="font-size: 1.01em; font-weight: bold;">Roll</p>
                        </div>
                    </div>
                </div>
                <li class="nav-item"><a href="dashboard.html" class="nav-link text-light bg-dark"><i class="far fa-home"
                            style="font-size: 110%;"></i>&nbsp; Dashboard</a>
                </li>
                <a href="routine.html" class="nav-link text-light btn-dark"><i class="far fa-list"></i>&nbsp;
                    Routine</a>
                    <a href="onlineclass.html" class="nav-link text-light btn-dark"><i class="far fa-video" style="font-size: 115%"></i>&nbsp;
                        Online Class</a>
                <a href="assignments.html" class="nav-link text-light btn-dark"><i class="far fa-book"
                        style="font-size: 130%;"></i>&nbsp; Assignments</a>
                <a href="attendance.html" class="nav-link text-light btn-dark"><i class="far fa-calendar-alt"
                        style="font-size: 125%;"></i>&nbsp; Attendance</a>
                <a href="gallery.html" class="nav-link text-light btn-dark"><i class="fas fa-images"
                        style="font-size: 115%;"></i>&nbsp; Gallery</a>
                <li class="nav-item"><a href="newsboard.html" class="nav-link text-light btn-dark">
                        <span><i class="fas fa-chalkboard"></i>&nbsp; News/Notice
                            Board</span></a>
                    <a href="upcomingEvents.html" class="nav-link text-light btn-success"><i
                            class="far fa-calendar-week" style="font-size: 125%;"></i>&nbsp; Upcoming
                        Events</a><a href="teacherStaffs.html" class="nav-link text-light btn-dark"><i
                            class="fas fa-chalkboard-teacher"></i>&nbsp; Teacher/Staffs</a>
                    <a href="leaveNotice.html" class="nav-link text-light btn-dark"><i class="far fa-user-injured"
                            style="font-size: 120%;"></i>&nbsp; Leave Notice</a>
                    <a href="fee.html" class="nav-link text-light btn-dark"><i
                            class="far fa-money-check-edit-alt"></i>&nbsp; Fee</a>
                            <a href="studymaterial.html" class="nav-link text-light btn-dark"><i class="far fa-books"
                                style="font-size: 120%;"></i>&nbsp; Study Material</a>
                                <a href="result.html" class="nav-link text-light btn-dark"><i class="far fa-file-spreadsheet" style="font-size: 135%;"></i>&nbsp; Result</a>
                <li class="nav-item dropdown"><a data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false" class="nav-link dropdown-toggle text-light btn-dark border-0"><i
                            class="far fa-sliders-v-square" style="font-size: 125%;"></i>&nbsp; About</a>
                    <div class="dropdown-menu bg-dark"><a href="studentProfile.html"
                            class="dropdown-item text-light bg-dark"><i class="far fa-user-circle"></i>&nbsp;
                            Profile</a><a href="contact.html" class="dropdown-item bg-dark text-light"><i
                                class="far fa-address-book"></i>&nbsp; Contact</a><a href="changePassword.html"
                            class="dropdown-item text-light bg-dark"><i class="far fa-unlock-alt"></i>&nbsp; Change
                            Password</a>
                        <div class="dropdown-divider">
                        </div><a href="#" class="dropdown-item text-light bg-dark"><i
                                class="far fa-sign-out-alt"></i>&nbsp; Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-12">
            <div class="row bg-primary text-white" style="margin-right: -4%;">
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12 py-3">

                    <h4 id="i54x4f" style="font-size:  2.5em;">
                       Upcoming Events
                    </h4>
                </div>
                <div class=" p-4" style="margin-right: -4%; margin-left: 10%;"> <button type="button"
                    class="btn btn-outline-light mr-3"><i class="far fa-bell"></i></button>
            </div>
            <div class=" p-4"> <button type="button" class="btn btn-outline-light mr-3"><i
                        class="far fa-sign-out-alt"></i></button>
            </div>
            </div>

            <div class="border" style="padding: 1%;">
                <div class="row border rounded" style="margin: 0.1%;">
                    <div class="d-flex flex-row col-xl-4 col-lg-4 col-md-4 col-sm-12 align-content-end flex-wrap">
                        <p class="p-2">Show</p>

                        <div class="dropdown show">
                            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                10
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">15</a>
                                <a class="dropdown-item" href="#">20</a>
                                <a class="dropdown-item" href="#">25</a>
                            </div>
                        </div>
                        <p class="p-2">Records</p>
                    </div>
                    <div class="row col-xl-8 col-lg-8 col-md-8 sm-12">
                        <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 py-3 text-right ">

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 py-3">
                            <div class="input-group input-group-dark input-group-round">
                                <div class="input-group-prepend"></div>
                                <input type="search" placeholder="Search" aria-label="Search app"
                                    class="form-control form-control-dark" /><span class="input-group-text"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M21.172 24l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z">
                                        </path>
                                    </svg></span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered" style="margin-top: 2%;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">S.N.</th>
                            <th scope="col">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>International Women's Day</td>
                            <td>03/23-03/24</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </td>
                            <td><img src="https://source.unsplash.com/user/erondu/100x100"></td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>International Women's Day</td>
                            <td>03/23-03/24</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </td>
                            <td><img src="https://source.unsplash.com/user/erondu/100x100"></td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>International Women's Day</td>
                            <td>03/23-03/24</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </td>
                            <td><img src="https://source.unsplash.com/user/erondu/100x100"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <p class="text-muted">Showing 1-10 out of 14 entries.</p>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
        <script src="assets/js/app.js"></script>
    </div>
</body>

</html>